.Banner {
  position: relative;
  background-size: cover;
  color: white;
  aspect-ratio: 3/1;
  overflow: hidden;
  z-index: 1;
}

.content {
  padding-top: 140px;
  height: 190px;
  padding-left: 50px;
}

.title {
  font-size: 3rem;
  max-width: 600rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button {
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(51, 51, 51, 0.5);
  backdrop-filter: blur(5px);
  cursor: pointer;
  margin-right: 1rem;
}

.button:hover {
  color: #111;
  background-color: #e6e6e6;
}

.description {
  max-width: 60%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 1rem;
  font-size: 17px;
}

.Banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent, #55555511, #00000044);
  transition: 0.5s;
}
